---
import { EMAIL } from "../consts";
---

<header class="mb-6 flex text-lg items-center justify-between" transition:name="header">
  <nav class="flex items-center gap-4">
    <a href="/"> home </a>
    <a href="/about"> about </a>
    <a href={`mailto:${EMAIL}`}>email</a>
  </nav>
</header>

<style>
  a {
    @apply font-medium text-zinc-500 hover:text-zinc-900 hover:underline dark:hover:text-zinc-100;
  }
</style>
