---
import { getEntry, render } from "astro:content";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../lib/utils";

const about = await getEntry('about', 'about');
const { Content, headings } = await render(about);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
  
    <article>
      <Content />
    </article>

  </main>
</Layout>
