---
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Layout from "../../layouts/Layout.astro";

import * as about from '../../content/about/about.md';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <article>
      <about.Content />
    </article>
  </main>
</Layout>
